body {
    font-family: Arial;
    padding: 20px;
    background: #121212;
    color: white;
}

button {
    margin-left: 10px;
    padding: 4px 8px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
